.all{
    background-color: #c8d6e3;
    padding-left: 20px;
    padding-top: 20px;
}
.image{
    display: flex;
}
.secure{
    display: flex;
}
.paragraph {
    font-size: 40px;
}
.img{
    background-color:#c8d6e3;
    padding-right: 20px;
}
.firstButton button{
    background-color: #c8d6e3;
    color: black;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    cursor: pointer;

}
.firstButton button:hover{
    color: white;
    background-color: black;
}
.secondButton button{
    background-color: #c8d6e3;
    cursor: pointer;
    border: none;
}
.secondButton button:hover{
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    border: 1px solid gray;
}